:root {
    --smoky-black: #0B0C10;
    --dark-blue: #1F2833;
    --grey: #C5C6C7;
    --cyan: #66FCF1;
    --dark-cyan: #45A29E;
    --header-height: 75px;
    --padding: 10rem;
    --heading-name-width: 12ch;
    --heading-webdev-width: 15ch;
    --heading-ml-width: 18ch;
    --heading-cp-width: 23ch;
    --heading-learning-width: 22ch;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oxygen, sans-serif;
}

.hero {
    width: 100%;
    height: 100vh;
    background: radial-gradient(circle at 25%, var(--dark-blue), var(--smoky-black) 50%);
    padding: 1rem var(--padding);
}

.hero-header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    width: calc(100% - 2*var(--padding));
}

.hero-name {
    color: white;
    font-size: 1.4rem;   
    font-weight: bold;
    letter-spacing: 2px;
}

.hero-nav {
    width: 35%;
}

.hero-nav > ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.hero-nav-link {
    position: relative;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--cyan);
}

.hero-nav-link::after {
    position: absolute;
    content: "";
    height: 3px;
    width: 110%;
    background: var(--cyan);
    left: -5%;
    bottom: -0.5rem;
    transform: scaleX(0);
    transition: 0.3s transform ease-in-out;
}

.hero-nav-link.active::after {
    transform: scaleX(1);
}

.hero-body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: var(--header-height);
    height: calc(100vh - var(--header-height) - 2rem);
}

.hero-about-me {
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
}

.hero-heading {
    color: white;
    font-size: 2.8rem;
}

.hero-heading-animation {
    height: 3rem;
    overflow: hidden;
    line-height: 3rem;
}

.hero-heading-animation > div {
    position: relative;
    top: 0;
    display: block;
    font-size: 2.4rem;
    overflow: hidden;
    animation: verticalSlide 30s steps(5) infinite;
}

.hero-heading-animation .typing-text {
    position: relative;
    display: block;
    color: var(--cyan);
    white-space: nowrap;
    border-right: 2px solid var(--cyan);
    overflow: hidden;
}

#typing-text-name {
    animation: typing-name 6s ease-in-out 3s infinite;
    width: var(--heading-name-width);
}

#typing-text-webdev {
    animation: typing-webdev 6s ease-in-out 3s infinite;
    width: var(--heading-webdev-width);
}

#typing-text-ml {
    animation: typing-ml 6s ease-in-out 3s infinite;
    width: var(--heading-ml-width);
}

#typing-text-cp {
    animation: typing-cp 6s ease-in-out 3s infinite;
    width: var(--heading-cp-width);
}

#typing-text-learning {
    animation: typing-learning 6s ease-in-out 3s infinite;
    width: var(--heading-learning-width);
}

.hero-description {
    color: var(--grey);
    font-size: 1.1rem;
    max-width: 65%;
    line-height: 1.4rem;
    letter-spacing: 0.5px;
}

.hero-btn-wrapper {
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.hero-btn {
    height: 40px;
    width: 130px;
    font-size: 1.1rem;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}

.hero-btn > a {
    text-decoration: none;
    color: inherit;
}

.hero-btn-my-hobbies {
    color: white;
    border: 2px solid var(--cyan);
    background: transparent;
}

.hero-btn-skills {
    color: var(--smoky-black);
    background: var(--cyan);
    border: none;
    font-weight: bold;
}

.hero-photo-group {
    position: relative;
    height: 350px;
    width: 350px;
}

.hero-photo-div {
    position: absolute;
    inset: 0;
    border-radius: 20% 80% 40% 60% / 20% 60% 40% 80%;
}

.hero-photo-div:nth-child(1) {
    background: white;
    transform: rotate(60deg) translate(4%, -12%);
}

.hero-photo-div:nth-child(2) {
    background: var(--cyan);
    transform: rotate(20deg);
}

/* Typing Animations */
@keyframes typing-name {
    50% {
        width: 0;
    }
    100% {
        width: var(--heading-name-width);
    }
}

@keyframes typing-webdev {
    50% {
        width: 0;
    }
    100% {
        width: var(--heading-webdev-width);
    }
}

@keyframes typing-ml {
    50% {
        width: 0;
    }
    100% {
        width: var(--heading-ml-width);
    }
}

@keyframes typing-cp {
    50% {
        width: 0;
    }
    100% {
        width: var(--heading-cp-width);
    }
}

@keyframes typing-learning {
    50% {
        width: 0;
    }
    100% {
        width: var(--heading-learning-width);
    }
}

@keyframes verticalSlide {
    100% {
        top: calc(-3rem * 5);
    }
}
